<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Konsola log basan appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout >
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} - %c - [%M] - (%p) - %m - %n
                </Pattern>
            </PatternLayout>
        </Console>

        <File name="FileLogger" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %c - [%M] - (%p) - %m - %n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </File>


    </Appenders>

    <Loggers>
        <!-- Root Logger: Hem console hem de dosyaya log basacak -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

        <!--        &lt;!&ndash; Paket bazlı log seviyeleri &ndash;&gt;-->
<!--        <Logger name="com.murat.mainapp.coordinator.Coordinator" level="info" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="FileLogger"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>